/Library/
/Temp/
/Logs/
/obj/
/Builds/
/UserSettings/
/Assets/Spine/
/Assets/Spine.meta
/Assets/Resources/Models/
/Assets/Resources/Models.meta
/Assets/Resources/models.json
/Assets/Resources/models.json.meta
/Assets/Resources/Board/
/Assets/Resources/Board.meta
/Assets/Resources/stress.json
/Assets/Resources/stress.json.meta
/Assets/Resources/simple-models.json
/Assets/Resources/simple-models.json.meta
